.calculatorContainer{
    padding: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* height: 500px; */
    width: 500px;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    .keysContainer{
        width:70%;
        padding: 21px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        gap:10px
    }
    .resultContainer{
        color: rgb(139, 121, 121);
    }
}