.XWeatherApp {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
body{
    background-color: aliceblue;
}

.inputButtonContainer {
    display: flex;
    gap: 10px;
}

.weather-card {
    display: flex;
    gap: 40px;
}

.XWeatherApp button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: darkolivegreen;
    color: white;
}
.XWeatherApp input{
    border: none;
}