table{
    /* border: none; */
    border-collapse: collapse;
    border-radius: 4px;
    background-color: aqua;
    text-align: start;
    width: 80vw;
    font-family: monospace;
    font-weight: 200;
}
thead{
    text-align: left;
    background-color: rgba(32, 114, 95, 0.838);
    color: white;
}
tbody{
    background-color: aliceblue;
}
tbody tr{
    border-top: 1px solid rgb(184, 253, 253);
}
td, th{
    padding: 7px;
}
